* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

h1 {
    cursor: pointer;
    transition: .3s ease;
}

.bright {
    display: none;
    color: white;
}

h1:hover {
    transform: scale(1.1);
}

.dark-active {
    background-color: black;
}

.block {
    display: block;
}

.none {
    display: none;
}



